@font-face {
  font-family: "Apercu Movistar";
  src: url("../fonts/apercu_black_movistar-web.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu Movistar";
  src: url("../fonts/apercu_bold_movistar-web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu Movistar";
  src: url("../fonts/apercu_light_movistar-web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu Movistar";
  src: url("../fonts/apercu_regular_italic_movistar-web.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Apercu Movistar", sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
}

.layout-frame {
  width: 1920px;
  max-width: 100%;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.layout-header {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
  position: relative;
  background-color: #ffffff;
}

.layout-header__left,
.layout-header__right {
  flex: 1;
  display: flex;
  align-items: center;
}

.layout-header__right {
  justify-content: flex-end;
}

.layout-header__left img,
.layout-header__right img,
.layout-header__center img {
  display: block;
  height: 32px;
}

.layout-header__left img[src="assets/img/logo_SGAE.svg"],
.layout-header__right img[src="assets/img/logoM+.svg"] {
  transform: scale(1.3);
  transform-origin: center;
}

.layout-header__center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-bar {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.layout-bar--dark {
  height: 84px;
  background-color: #3b3b3b;
}

.layout-bar__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
}

.layout-bar__group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.layout-bar__label {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.layout-bar__input {
  height: 32px;
  padding: 4px 10px;
  border: 0;
  border-radius: 2px;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  outline: none;
  box-shadow: none;
}

.layout-bar__input:focus {
  border: 2px solid #31d0f4;
}

.layout-bar__input--program {
  width: 480px;
}

.layout-bar__input--episode {
  width: 140px;
}

.layout-bar--mid {
  height: 52px;
  background-color: #6b6b6b;
}

.layout-content {
  height: 852px;
  background-color: #ffffff;
}



